script(src='#{pathToAssets}/jquery/dist/jquery.min.js');
script(src='#{pathToAssets}/bootstrap/dist/js/bootstrap.min.js');
script(src='#{pathToAssets}/bootstrap-table/dist/bootstrap-table.min.js');
script(src='#{pathToAssets}/bootstrap-table/dist/locale/bootstrap-table-fa-IR.min.js');
script(src='#{pathToAssets}/angular/angular.min.js');
script(src='#{pathToAssets}/angular-route/angular-route.min.js');
script(src='js/dashboardApp.js');
script(src='js/controllers/navbarCont.js');
script(src='js/jdate.js');
