html(lang='fa-IR',dir='rtl' )
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='RAfzalan')
    //link(rel='icon', href='#{pathToAssets}/bootstrap/docs/favicon.ico')
    // Bootstrap core CSS
    link(href='#{pathToAssets}/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='#{pathToAssets}/bootstrap-rtl/dist/css/bootstrap-rtl.min.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    // if lt IE 9
    script(src='#{pathToAssets}/html5shiv/dist/html5shiv.min.js')
    script(src='#{pathToAssets}/respond/dest/respond.min.js')
    link(href='/css/dashboard.css', rel='stylesheet')
    link(href='/css/circlebutton.css', rel='stylesheet')
    link(href='#{pathToAssets}/bootstrap-table/dist/bootstrap-table.min.css', rel='stylesheet')
    
    script(src='#{pathToAssets}/jquery/dist/jquery.min.js');
    script(src='#{pathToAssets}/bootstrap/dist/js/bootstrap.min.js');
    script(src='#{pathToAssets}/bootstrap-table/dist/bootstrap-table.min.js');
    script(src='#{pathToAssets}/bootstrap-table/dist/locale/bootstrap-table-fa-IR.min.js');
    script(src='#{pathToAssets}/angular/angular.min.js');
    
